<div style="width: 80%;margin:0 auto;" *ngIf="product!==null">
    <div class="row bootstrap snippets">
        <div class="col-md-12 col-sm-12">
            <div class="comment-wrapper">
                <div class="card">
                    <div class="card-header h5">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <app-productinfo [product]="product"></app-productinfo>
                                <p class="text-center">

                                    Vendor Details:<br />
                                    {{product.vendor.name}}<br />
                                    {{product.vendor.address}}<br />
                                    {{product.vendor.phone}}
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-8 text-justify">
                                About Product:
                                <div [innerHTML]="product.description"></div>

                            </div>

                        </div>


                    </div>
                    <div *ngIf="loading else loaded" class="text-center">
                        <div>Loading Comments...</div>
                        <div class="spinner-grow text-muted"></div>
                        <div class="spinner-grow text-primary"></div>
                        <div class="spinner-grow text-success"></div>
                        <div class="spinner-grow text-info"></div>
                        <div class="spinner-grow text-warning"></div>
                        <div class="spinner-grow text-danger"></div>
                        <div class="spinner-grow text-secondary"></div>
                        <div class="spinner-grow text-dark"></div>
                        <div class="spinner-grow text-light"></div>
                    </div>
                    <ng-template #loaded>
                        <div class="card-body">
                            <form *ngIf="isVerified=='YES' else asktoverify" [formGroup]="addComment">
                                <textarea name="comment" type="text" class="form-control" rows="3"
                                    formControlName="comment" required
                                    placeholder="Write a comment... and Click Stars to submit"></textarea>
                                <span *ngIf="!addComment.get('comment').valid" style="color:red">Required Some
                                    Comments Before Rating</span>
                                <hr />
                                <div class="rating">
                                    <span (click)="submitForm(5)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                    <span (click)="submitForm(4)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                    <span (click)="submitForm(3)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                    <span (click)="submitForm(2)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                    <span (click)="submitForm(1)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                </div>
                                <hr />

                            </form>
                            <ng-template #asktoverify>
                                <div *ngIf="isVerified=='GUEST' else showmsgtoverify">
                                    Please Login First to comment <a [routerLink]="['/login']">Login</a>

                                </div>
                                <ng-template #showmsgtoverify>
                                    <p style="color:red;">Please Verify Email First to comment</p>

                                    <button [disabled]="buttonDisabled" class="btn btn-info" (click)="sendCode()">Send
                                        Verification
                                        Code</button>
                                    <br />
                                    <span *ngIf="codeSent">
                                        <br />
                                        <input
                                            [className]="invalidcodemessage!='true' ? 'form-control' : 'form-control is-invalid'"
                                            [(ngModel)]="verificationCode" placeholder="Enter 6 digit code" /><button
                                            class="btn btn-outline-success" (click)=verify()>Verify</button>

                                    </span>
                                </ng-template>
                            </ng-template>
                            <div class="clearfix"></div>
                            <hr>
                            <ul class="media-list">
                                <li class="media" *ngFor="let comment of comments; let i = index">
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt=""
                                                class="rounded-circle">
                                        </div>
                                        <div class="col-11 text-justify">

                                            <strong class="text-success">{{comment.emailId}} &nbsp;&nbsp;&nbsp;
                                                <i *ngFor="let ist of comment.stars | fill" class="fa fa-star"></i>
                                                {{comment.stars}}</strong>
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">{{comment.commentDate|date:'medium':'-1000'}}
                                                    ({{comment.commentDate |dateAgo}})</small>
                                            </span>
                                            <div>
                                                <div *ngIf="comment.shrink!=1">
                                                    {{comment.comment |truncate:20}}
                                                </div>
                                                <div *ngIf="comment.shrink==1">
                                                    {{comment.comment}}
                                                </div>
                                                <div style="cursor: pointer;color:blue;" (click)="comment.shrink=1"
                                                    *ngIf="comment.comment.length > 20 && comment.shrink!=1">See
                                                    more</div>

                                                <span *ngIf="isVerified=='YES'" [hidden]=" hideme[i]"
                                                    (click)="hideme[i] = !hideme[i]"
                                                    style="position:relative;left:0px;color: grey; cursor: pointer;">
                                                    Reply</span>

                                                <span [hidden]="!hideme[i]">
                                                    <form [formGroup]="replyToComment[i]"
                                                        (ngSubmit)="submitReply(comment.id,i)">


                                                        <mat-form-field style="width: 100%;" class="mat-input-wrapper">
                                                            <mat-label>Reply</mat-label>
                                                            <textarea formControlName="reply" matInput></textarea>
                                                        </mat-form-field>
                                                        <button type="submit" [disabled]="!replyToComment[i].valid"
                                                            class="btn btn-light pull-right ">REPLY</button>
                                                        <button type="button" (click)="hideme[i] =!hideme[i]"
                                                            class="btn btn-light pull-right">CANCEL</button>





                                                    </form>
                                                </span>
                                            </div>
                                            <br />

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <ul class="media-list">
                                                <li class="media" *ngFor="let reply of comment.replies">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <span class="pull-left">
                                                                <img src="https://bootdey.com/img/Content/user_1.jpg"
                                                                    alt="" class="rounded-circle">
                                                            </span>
                                                        </div>
                                                        <div class="col-11">
                                                            <div class="media-body">
                                                                <span class="text-muted pull-right">
                                                                    <small
                                                                        class="text-muted">{{reply.replyDate|date:'medium':'UTC-10'}}
                                                                        ({{reply.replyDate |dateAgo}})</small>
                                                                </span>
                                                                <strong class="text-success">{{reply.email}}</strong>
                                                                <p>
                                                                    {{reply.comment}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>