<div style="width: 80%;margin:0 auto;" *ngIf="product">
    <div class="row bootstrap snippets">
        <div class="col-md-12 col-sm-12">
            <div class="comment-wrapper">
                <div class="card">
                    <div class="card-header h5">
                        <app-productinfo [product]="product"></app-productinfo>
                        {{product.description}}<br />
                        {{product.vendor.name}}
                    </div>
                    <div *ngIf="loading else loaded" class="text-center">
                        <div>Loading Comments...</div>
                        <div class="spinner-grow text-muted"></div>
                        <div class="spinner-grow text-primary"></div>
                        <div class="spinner-grow text-success"></div>
                        <div class="spinner-grow text-info"></div>
                        <div class="spinner-grow text-warning"></div>
                        <div class="spinner-grow text-danger"></div>
                        <div class="spinner-grow text-secondary"></div>
                        <div class="spinner-grow text-dark"></div>
                        <div class="spinner-grow text-light"></div>
                    </div>
                    <ng-template #loaded>
                        <div class="card-body">
                            <form *ngIf="isVerified=='YES' else asktoverify" [formGroup]="addComment">
                                <textarea name="comment" type="text" class="form-control" rows="3"
                                    formControlName="comment" required
                                    placeholder="write a comment... And Click Stars to submit"></textarea>
                                <span *ngIf="!addComment.get('comment').valid" style="color:red">Required Some
                                    Comments Before Rating</span>
                                <hr />
                                <div class="rating">
                                    <span (click)="submitForm(5)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                    <span (click)="submitForm(4)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                    <span (click)="submitForm(3)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                    <span (click)="submitForm(2)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                    <span (click)="submitForm(1)"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                </div>
                                <hr />

                            </form>
                            <ng-template #asktoverify>
                                <div *ngIf="isVerified=='GUEST' else showmsgtoverify">
                                    Please Login First to comment <a [routerLink]="['/login']">Login</a>

                                </div>
                                <ng-template #showmsgtoverify>
                                    <span class="alert alert-primary">Please Verify Email First to comment</span> <br />
                                    <br />
                                    <button class="btn btn-info" (click)="sendCode()">Send Verification
                                        Code</button>
                                    <br /> <br />
                                    <span *ngIf="codeSent">
                                        <input
                                            [className]="invalidcodemessage!='true' ? 'form-control' : 'form-control is-invalid'"
                                            [(ngModel)]="verificationCode" placeholder="Enter 6 digit code" /><button
                                            class="btn btn-outline-success" (click)=verify()>Verify</button>

                                    </span>
                                </ng-template>
                            </ng-template>
                            <div class="clearfix"></div>
                            <hr>
                            <ul class="media-list">
                                <li class="media" *ngFor="let comment of comments; let i = index">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt=""
                                            class="rounded-circle">
                                    </a>
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">{{comment.commentDate|date:'medium':'-1000'}}
                                                ({{comment.commentDate |dateAgo}})</small>
                                        </span>
                                        <strong class="text-success">{{comment.emailId}} &nbsp;&nbsp;&nbsp;
                                            <i *ngFor="let ist of comment.stars | fill" class="fa fa-star"></i>
                                            {{comment.stars}}</strong>
                                        <p>
                                            <span *ngIf="comment.shrink!=1">
                                                {{comment.comment |truncate:20}}
                                            </span>
                                            <span *ngIf="comment.shrink==1">
                                                {{comment.comment}}
                                            </span>
                                            <span style="cursor: pointer;color:blue;" (click)="comment.shrink=1"
                                                *ngIf="comment.comment.length > 20 && comment.shrink!=1">See
                                                more</span>
                                            <br />
                                            <span [hidden]="hideme[i]" (click)="hideme[i] = !hideme[i]"
                                                style="position:relative;left:30px;color: grey; cursor: pointer;">
                                                Reply</span>
                                            <br />
                                            <span [hidden]="!hideme[i]">
                                                <form (ngSubmit)="submitReply(comment.id,i)">
                                                    <input [(ngModel)]="reply[i]" name="comment" type="text"
                                                        class="form-control" required>
                                                    <button type="reset" class="btn btn-outline-info"
                                                        style="margin-right: 2em;">Reset</button>
                                                    <span class="btn btn-outline-warning" style="margin-right: 2em;"
                                                        (click)="hideme[i] =!hideme[i]">Cancel</span>

                                                    <button type="submit" class="btn btn-outline-primary">Reply</button>
                                                </form>
                                            </span>
                                        </p>
                                    </div>
                                    <div>
                                        <ul class="media-list">
                                            <li class="media" *ngFor="let reply of comment.replies">
                                                <a href="#" class="pull-left">
                                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt=""
                                                        class="rounded-circle">
                                                </a>
                                                <div class="media-body">
                                                    <span class="text-muted pull-right">
                                                        <small
                                                            class="text-muted">{{reply.replyDate|date:'medium':'UTC-10'}}
                                                            ({{reply.replyDate |dateAgo}})</small>
                                                    </span>
                                                    <strong class="text-success">{{reply.email}}</strong>
                                                    <p>
                                                        {{reply.comment}}
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>