<h3>
    <a *ngIf="authService.isAdmin()" routerLink="/addproduct" class="nav-link">Add Product / Vendor</a>
    <span style="position: fixed; right:0px; top :70px;" *ngIf="addedtocart">Added To Cart</span>
</h3>

<div class="container" *ngIf="list">
    <div class="item" *ngFor="let product of list | paginate: config; let i=index;">
        <app-productinfo [product]="product"></app-productinfo>
    </div>

    <div class="text-center" style="width:78%;">
        <hr />
        <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
    </div>

</div>
<span *ngIf="currentPage>1" (click)="currentPage=currentPage-1;getProducts()">Back</span>
<span *ngIf="!last" (click)="currentPage=currentPage+1;getProducts()">Forward</span>