<!-- Stack the columns on mobile by making one full-width and the other half-width -->



<div class="container">
    <h3>
        <a *ngIf="authService.isAdmin()" routerLink="/addproduct" class="nav-link">Add Product / Vendor</a>
    </h3>
    <div class="row" *ngIf="list">
        <!-- <div class="item" *ngFor="let product of list | paginate: config; let i=index;"> -->
        <div class="col-6 col-sm-4" *ngFor="let product of list ">
            <app-productinfo [product]="product"></app-productinfo>
        </div>


        <!-- <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls> -->




        <div class="text-center" style="width:100%; height: 100px;">

            <hr />
            <button style="width: 100px; height: 40px;" *ngIf="cachedService.currentPage>1"
                (click)="cachedService.decPageNumber();getProducts()">Back</button>&nbsp;&nbsp;&nbsp;
            <button style="width: 100px; height: 40px;" *ngIf="!last"
                (click)="cachedService.incPageNumber();getProducts()">
                Next</button>
        </div>
    </div>
</div>