<h2>Your Order History: </h2>

<div *ngIf="loading else loaded" class="text-center">


    <div class="spinner-grow text-muted"></div>
    <div class="spinner-grow text-primary"></div>
    <div class="spinner-grow text-success"></div>
    <div class="spinner-grow text-info"></div>
    <div class="spinner-grow text-warning"></div>
    <div class="spinner-grow text-danger"></div>
    <div class="spinner-grow text-secondary"></div>
    <div class="spinner-grow text-dark"></div>
    <div class="spinner-grow text-light"></div>
</div>
<ng-template #loaded>
    <div *ngIf="orderhistory">
        <table class="table">
            <th>#</th>
            <th>Order Details</th>
            <th>Ordered Date</th>
            <th>Total Price</th>
            <tr *ngFor="let order of orderhistory; let i=index">
                <td class="align-middle">{{i+1}}</td>
                <td>
                    <table class="table">
                        <th>Item</th>
                        <th>Units</th>

                        <tr *ngFor="let product of order.productsOrdered">
                            <td>
                                <span style="width: auto;  margin: 5px;">
                                    <a [routerLink]="['/productdetails',product.productId]"><img width="20" height="20"
                                            src="{{(product.imageUrl!='default.png')? product.imageUrl:'./assets/images/noimage.png'}}">
                                    </a>

                                </span>
                            </td>
                            <td>
                                {{product.quantity}}
                            </td>
                            <br *ngIf="(i+1)%3==0" />
                        </tr>
                    </table>



                </td>
                <td class="align-middle">{{order.orderDate|date:'medium':'-1000'}}</td>

                <td class="align-middle">$ {{order.totalCost |number : '.2-2'}}</td>
            </tr>
        </table>
    </div>
</ng-template>