<!-- <div style="width: 90%; margin: 0 auto; filter: blur(8px);"> -->

<div class="container" [ngClass]="{'blur-out': showSpinner}">
    <h2>Your Cart: </h2>

    <div *ngIf="cart">
        <table *ngIf="totalCost != 0; else other_content" class="table">

            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Sub-Total</th>
            <tr [hidden]="visibleRowIndex[i] == true" *ngFor="let item of cart.productsInCart; let i=index">

                <td><a style="text-decoration: none; color:black" [routerLink]="['/productdetails',item.productId]"><img
                            height="45" width="45"
                            src="{{(item.imageUrl!='default.png')? item.imageUrl:'./assets/images/noimage.png'}}">

                        {{item.name}}
                    </a> </td>
                <td>{{item.unitPrice}}</td>
                <td>

                    <button type="button" class="btn btn-success btn-circle" (click)="additems(i)">+</button>
                    <span style="display: inline-block; width:50px;" class="text-center">{{item.quantity}}</span>
                    <button type="button" class="btn btn-danger btn-circle" (click)="minusone(i)">-</button>





                </td>
                <td>
                    $ {{item.unitPrice * item.quantity | number: '.2-2'}}

                    <br />
                    <span style="color:coral; cursor:pointer; "
                        (click)="saveForLater(i, item.productId, item.unitPrice , item.quantity)">save
                        for
                        later</span>
                    <!-- <span style="color:coral; cursor:pointer; " (click)="visibleRowIndex=i; saveForLater(item.productId)">save for
              later</span> -->

                </td>
            </tr>
            <tr>

                <td></td>
                <td></td>

                <td>Total</td>


                <td>$ {{totalCost |number : '.2-2'}}</td>
            </tr>



        </table>

        <button [hidden]="totalCost == 0" class="btn btn-outline-warning" style="margin-right: 2em;"
            style="cursor: pointer;" (click)="makepayment(null)">Check Out</button>


    </div>



    <div [hidden]="totalCost == 0" class="row">
        <div class="col-sm-6">
            <h5>Instruction to make payment </h5>
            <h5>Click Above Check Out button for easy check out for demo purpose </h5>
            <p style="color:red;">(Amount Greater than $10 will automatically be converted to $5 for payment
                amount in paypal for demo purpose only)</p>
            <p>Click on <img height="30" width="150" src="../assets/images/paypal-button.png"> on right side if you want
                to try paypal account</p>

        </div>
        <div class="col-sm-6">
            <div class="pull-right" #paypal></div>
        </div>
    </div>


</div>





<ng-template #other_content>

    <table class="table">
        <tr>

            <td colspan="5" style="text-align:center">
                <h3>Oops! Cart is empty. <a [routerLink]="['/products']"> go to home page
                        to buy</a>
                    <br />OR<br />
                    <a [routerLink]="['/wishlist']">Check WishList</a>

                </h3>
            </td>

        </tr>
    </table>
</ng-template>


<div *ngIf="showSpinner === true" style="position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
z-index: 9999;
">
    <div style="width: 200px; height: 200px;" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>