<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a routerLink="/" class="navbar-brand">e-shopping</a>
    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <div class="col-auto">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Category</div>
                        </div>
                        <input [(ngModel)]="searchWord" class="form-control" type="text"
                            placeholder="{{placeHolderMsg}}">
                        <div>
                            <button (click)="makeSearch()" class="form-control" type="submit">Go</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" *ngIf="!loginService.isUserLoggedIn()" routerLink="/login">Login <span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="!loginService.isUserLoggedIn()" routerLink="/signup">SignUp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Prime Members Only</a>
        </li>
        <li>
            <span style="position:relative; display: inline-block;top:5px;">
                <img class="rounded-circle" *ngIf="profile_image" width="30" height="30" src="{{profile_image}}"
                    alt="profile-pic" />
                <img class="rounded-circle" *ngIf="!profile_image" width="30" height="30"
                    src="./assets/images/noimage.png" alt="profile-pic" />
            </span>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Welcome {{loginService.getUserName()}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" [routerLink]="['/user-profile']">View Profile</a>
                <a class="dropdown-item" [routerLink]="['/wishlist']">WishList</a>
                <a class="dropdown-item" [routerLink]="['/order-history']">View Order History</a>
                <a *ngIf="loginService.isUserLoggedIn()" (click)="logOut()" class="dropdown-item" href="#">Logout
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div [ngStyle]="{'width': cartItemCount<10 ? '65px' : (cartItemCount<100 ? '72px' : '80px') }">
                <a class="nav-link" [routerLink]="['/cart']"><i style="font-size:1.5em;" class="fa fa-shopping-cart"
                        aria-hidden="true"></i>
                    <span *ngIf="cartItemCount>0" class='badge' id='lblCartCount'> {{cartItemCount}} </span>
                </a>
            </div>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>