input[type=text] {
    width: 450px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  @media screen and (max-width: 1024px) {
    input[type=text] {
      width: 180px;
      margin-top: 0;
    }
}