<p></p>
<div class="container">
    <div>
        <a style="text-decoration: none; font-size: 1.5em; " [routerLink]="['/products']"> View All Products</a>
    </div>
    <p></p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div style="background-color: red; height: 300px;">

                    <img height="300" class="d-block w-100" src="https://www.w3schools.com/bootstrap/la.jpg"
                        alt="First slide">

                </div>

            </div>
            <div class="carousel-item">
                <div style="background-color: red; height: 300px;">

                    <img height="300" class="d-block w-100" src="https://www.w3schools.com/bootstrap/chicago.jpg"
                        alt="Second slide">

                </div>

            </div>
            <div class="carousel-item">
                <div style="background-color: red; height: 300px;">

                    <img height="300" class="d-block w-100" src="https://www.w3schools.com/bootstrap/ny.jpg"
                        alt="Third slide">

                </div>

            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <p></p>
    <div class="alert alert-dark" role="alert">
        <h5 class="alert-heading">Welcome to E-shopping Project!</h5>
        <p>Developer: Suresh Prajapati</p>
        <p class="text-justify">
            This is demo project implementing Spring Boot Microservices,
            running on google cloud. Angular is also deployed on google Cloud Platform. It took around 2 weeks for
            complete
            full stack development. (Stay Home Stay Safe)
        </p>


        <p class="font-weight-bold"> Features: (BackEnd)</p>
        <ul class="text-justify">
            <li>Restfull Service running on cloud based on Java.</li>
            <li>JWT Authentication for Role based authentication.</li>
            <li>Email Feature for verifying email address (6 digit code verification). This is required if customer
                wants to
                rate, comment or reply
                on specific product. If you login with oath2 i.e. Login with google no verification required.
            </li>
            <li>Mongodb for Storing information. (Auto Increment of PrimaryKey implemented manually)</li>
            <li>Search Feature (requires at least 3 characters) matches word that is either in name of product or
                description on product. (Implemented using custom Query)</li>
            <li>Admin can add products and vendors.</li>
            <li>Password encryped using bycrypt.</li>
            <li>Search By Category will be added soon...</li>
        </ul>
        <p class="font-weight-bold"> Features: (FrontEnd)</p>
        <ul class="text-justify">
            <li>Angular 8 with Bootstrap 4</li>
            <li>Login with google feature Oath2.</li>
            <li>Implemented Http Interceptors, Custom Pipes, Guard.</li>
            <li>Implemented component to component communication using service. (cart subscribes to items in cart)</li>
            <li>Used debounce time so that we hit server only once when user clicks multiple times + icon in cart items
            </li>
            <li>Get method cached on client side using service for improving perfomance.</li>
        </ul>






        <hr>
        <p class="mb-0">You are always welcome to provide feedback.</p>
    </div>





</div>