<div>
    <span style="cursor: pointer;" (click)="showDetails()">
        <img style="width:200px;height:200px; display: block;
        margin-left: auto;
        margin-right: auto;"
            src="{{(product.imageUrl!='default.png')? product.imageUrl:'./assets/images/noimage.png'}}" alt="">

    </span>
    <div class="text-center">
        <div class="adtocart" (click)="addToCart(product.id,product.imageUrl,product.name,product.unitPrice,1)"><i
                class="fa fa-shopping-cart"></i></div>
    </div>


    <div class="panel-body text-center">
        <h4>
            <span class="pro-title">
                {{product.name}}</span>
        </h4>
        <p>$ {{product.unitPrice |number : '.2-2'}}</p>
    </div>
</div>