<div class="row product-list">
    <section class="panel">
        <div class="pro-img-box">
            <a [routerLink]="['/productdetails', product.id]">
                <img *ngIf="product.imageUrl!='default.png' && !addedtocart" src="{{product.imageUrl}}" alt="">
                <img *ngIf="product.imageUrl=='default.png' && !addedtocart" src="./assets/images/noimage.png">
                <img *ngIf="addedtocart" src="./assets/images/added.gif"> </a>
            <span class="adtocart" (click)="addToCart(product.id,product.imageUrl,product.name,product.unitPrice,1)">
                <i class="fa fa-shopping-cart"></i>
            </span>

        </div>
        <div class="panel-body text-center">
            <h4>
                <span class="pro-title">
                    {{product.name}}</span>
            </h4>
            <p class="price">$ {{product.unitPrice |number : '.2-2'}}</p>
        </div>
    </section>
</div>